@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&display=swap");

body {
	background-color: $backgroundColor;
	font-family: "Lato", sans-serif;
	margin: 2rem 1rem;
}

.body {
	@include getGrid(100%, 1fr, 0.5rem);
}

*:focus {
	outline: none;
}

.header {
	display: flex;
	justify-content: center;
	margin: 1rem;
    &__logo {
        width: 12rem;
    }
}

.search {
    @include getGrid(100%, 1fr, 0.5rem);
    &__bar {
        @include form();
        justify-content: center;
        &__input {
            @include input(searchBar);
        }
        &__submit {
            @include button(search);
        } 
    }
    &__area {
        display: grid;
        gap: 0.5rem;
        &__form {
            @include form();
        }
    }
}

.ingredients {
    &__form {
        &__down {
            @include filterdiv(ingredients);
            justify-content: space-between;
        }
        &__up {
            @include filterdiv(ingredients);
            justify-content: space-between;
        }
    }
    &__button {
        &__down {
            @include button(ingredients);
        }
        &__up {
            @include button(ingredients);
            border-radius: 0 5px 0 0 ;
            -webkit-border-radius: 0 5px 0 0 ;
            -moz-border-radius: 0 5px 0 0 ;
            -ms-border-radius: 0 5px 0 0 ;
            -o-border-radius: 0 5px 0 0 ;
        }
    }
    &__content {
        background-color: $blue;
        color: white;
        padding: 1rem;
        border-radius: 0 0 5px 5px;
        margin: 0;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        overflow-y: auto;
        max-height: 35vh;
        &::-webkit-scrollbar {
            background-color: $blue;
            border-radius: 0 0 5px 0;
            -webkit-border-radius: 0 0 5px 0;
            -moz-border-radius: 0 0 5px 0;
            -ms-border-radius: 0 0 5px 0;
            -o-border-radius: 0 0 5px 0;
        }
    }
    &__displayed__results {
        display: none;
        flex-direction: column;
    }
}

.devices {
    &__form {
        &__down {
            @include filterdiv(devices);
            justify-content: space-between;
        }
        &__up {
            @include filterdiv(devices);
            justify-content: space-between;
        }
    }
    &__button {
        &__down {
            @include button(devices);
        }
        &__up {
            @include button(devices);
            border-radius: 0 5px 0 0 ;
            -webkit-border-radius: 0 5px 0 0 ;
            -moz-border-radius: 0 5px 0 0 ;
            -ms-border-radius: 0 5px 0 0 ;
            -o-border-radius: 0 5px 0 0 ;
        }
    }
    &__content {
        background-color: $green;
        color: white;
        padding: 1rem;
        border-radius: 0 0 5px 5px;
        margin: 0;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        overflow-y: auto;
        max-height: 35vh;
        &::-webkit-scrollbar {
            background-color: $green;
            border-radius: 0 0 5px 0;
            -webkit-border-radius: 0 0 5px 0;
            -moz-border-radius: 0 0 5px 0;
            -ms-border-radius: 0 0 5px 0;
            -o-border-radius: 0 0 5px 0;
        }
    }
    &__displayed__results {
        display: none;
        flex-direction: column;
    }
}

.ustensiles {
    &__form {
        &__down {
            @include filterdiv(ustensiles);
            justify-content: space-between;
        }
        &__up {
            @include filterdiv(ustensiles);
            justify-content: space-between;
        }
    }
    &__button {
        &__down {
            @include button(ustensiles);
        }
        &__up {
            @include button(ustensiles);
            border-radius: 0 5px 0 0 ;
            -webkit-border-radius: 0 5px 0 0 ;
            -moz-border-radius: 0 5px 0 0 ;
            -ms-border-radius: 0 5px 0 0 ;
            -o-border-radius: 0 5px 0 0 ;
        }
    }
    &__content {
        background-color: $red;
        color: white;
        padding: 1rem;
        border-radius: 0 0 5px 5px;
        margin: 0;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        overflow-y: auto;
        max-height: 35vh;
        &::-webkit-scrollbar {
            background-color: $red;
            border-radius: 0 0 5px 0;
            -webkit-border-radius: 0 0 5px 0;
            -moz-border-radius: 0 0 5px 0;
            -ms-border-radius: 0 0 5px 0;
            -o-border-radius: 0 0 5px 0;
        }
    }
    &__displayed__results {
        display: none;
        flex-direction: column;
    }
}

.main__part {
	@include getGrid(1fr, 1fr, 1rem);
	margin-bottom: 1rem;
}

.no__matching {
	background-color: #94baff;
	border-radius: 5px;
	font-size: 1rem;
	grid-column: span 3;
	padding: 1rem 0rem;
	text-align: center;
}

/* Medium devices */
@media screen and (min-width: $mediumDevices) {
	.main__part {
		@include getGrid(repeat(2, 1fr), 1fr, 1rem);
	}

    .header {
        &__logo {
            width: 25rem;
        }
    }
}

/* Large devices */
@media screen and (min-width: $largeDevices) {
	body {
		margin: 1rem 5rem;
		max-width: 1200px;
	}

	.body {
		@include getGrid(1fr, auto, 0.5rem);
	}

	.header {
		grid-column: 1;
		grid-row: 1;
	}

    .search__area {
		display: flex;
        column-gap: 2rem;

		.ingredients {
			grid-column: 1;
			grid-row: 1;
            &__content {
                position: absolute;
                width: 29rem;
                max-height: 48vh;
                @include getGrid(repeat(2, 1fr), 1fr, 0.5rem 5rem);
            }
            &__displayed__results {
                width: 29rem;
            }
		}
		.devices {
			grid-column: 2;
			grid-row: 1;
            &__content {
                position: absolute;
                width: 29rem;
                @include getGrid(repeat(2, 1fr), 1fr, 0.5rem 5rem);
            }
            &__displayed__results {
                width: 29rem;
            }
		}
		.ustensiles {
			grid-column: 3;
			grid-row: 1;
            &__content {
                position: absolute;
                width: 29rem;
                @include getGrid(repeat(2, 1fr), 1fr, 0.5rem 5rem);
            }
            &__displayed__results {
                width: 29rem;
            }
		}

        &__form {
            width: 10rem;
        }
    }

	/* Main part (cards recipes section) */
	.main__part {
		@include getGrid(repeat(3, 2fr), 1fr, 1rem);
	}
}