.recipe__card {
	&__image {
		background-color: $secondaryGrey;
		border-radius: 5px 5px 0 0;
		height: 100px;
	}

	&__section {
		padding: 0.5rem 1rem 2rem 1rem;
		background-color: $primaryGrey;
		border-radius: 0 0 5px 5px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: 10px;
		margin: 0;
        column-gap: 0.5rem;
        height: 3rem;
        &__title {
            align-self: center;
        }
		&__time {
			flex-direction: row-reverse;
            align-self: center;
		}
	}

	&__aside {
		@include getGrid(repeat(2, 1fr), 1fr, 0.5rem);
		height: 120px;
		font-size: 12px;
	}

	&__list {
		align-self: start;
		font-size: 12px;
		justify-self: start;
	}

	&__description {
		align-self: start;
		height: 118px;
		justify-self: start;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		width: 100%;
	}
}