body {
  width: 90%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.title-section {
  display: none;
}

li {
  list-style-type: none;
}

.no-result {
  font-size: 28px;
  margin-top: 100px;
}

.blueTag {
  background-color: #3182f7;
}

.greenTag {
  background-color: #68d8a3;
}

.redTag {
  background-color: #ed6454;
}

.animLogo {
  -webkit-animation: anim 0.1s forwards;
          animation: anim 0.1s forwards;
}

.strong {
  font-weight: bolder;
}

.fa-angle-up {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 1;
}

.fa-times-circle {
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
}

.fa-search {
  font-size: 25px;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotateZ(-180deg);
  }
}

@keyframes anim {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotateZ(-180deg);
  }
}
.header_index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.header_index img {
  width: 60%;
  transform: translateX(60px);
}

.main_index {
  width: 100%;
  height: auto;
}

.search-zone {
  width: 100%;
  height: auto;
  position: relative;
}
.search-zone .item {
  width: 100%;
  height: 60px;
  background-color: #e6e6e6;
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
}
.search-zone .item::-moz-placeholder {
  padding-left: 20px;
}
.search-zone .item:-ms-input-placeholder {
  padding-left: 20px;
}
.search-zone .item::placeholder {
  padding-left: 20px;
}
.search-zone button {
  position: absolute;
  top: 2px;
  right: 15px;
  border: none;
  background-color: #e6e6e6;
  padding: 15px 5px;
}

.box {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.style-input {
  position: relative;
}

.select {
  width: 160px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.select::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 20px;
}
.select:-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 20px;
}
.select::placeholder {
  color: #FFFFFF;
  padding-left: 20px;
}
.select--ingredient {
  background-color: #3182f7;
}
.select--appareil {
  background-color: #68d8a3;
}
.select--ustensile {
  background-color: #ed6454;
}

.all_recipes {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card_recipe {
  width: 30%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 49% 15% 30% 6%;
  background-color: #e6e6e6;
  border-radius: 7px;
  margin: 20px 0;
}
.card_recipe .picture_recipe {
  background-color: #c7bebe;
  grid-area: 1/1/2/3;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.card_recipe .head_card {
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
}
.card_recipe .head_card h2 {
  font-size: 18px;
  font-weight: normal;
}
.card_recipe .description_recipe {
  grid-area: 3/1/4/3;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
.card_recipe .description_recipe .list_ingredients {
  width: 50%;
  line-height: 15px;
}
.card_recipe .description_recipe .list_ingredients > p {
  font-size: 14px;
  margin: 0;
  padding-left: 15px;
}
.card_recipe .description_recipe .list_ingredients > p .weight {
  font-weight: 600;
}
.card_recipe .description_recipe .make_recipe {
  width: 50%;
}
.card_recipe .description_recipe .make_recipe .instructions {
  margin: 0;
  padding: 0 15px;
  font-size: 13px;
  line-height: 15px;
  text-align: justify;
}

.tag {
  display: inline-block;
  color: white;
  position: relative;
  font-size: 20px;
  border-radius: 5px;
  padding: 12px 15px;
  margin-right: 15px;
}

.box-ingredient, .box-appliance, .box-ustencil {
  width: 750px;
  position: relative;
}

.list-food {
  background-color: #3182f7;
  width: 99%;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}

.list-ingredient {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  width: 25%;
  padding: 10px 20px;
}
.list-ingredient:hover {
  background-color: #3b88f7;
}

.list-item {
  width: 99%;
  background-color: #68d8a3;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}

.list-appliance {
  color: #FFFFFF;
  cursor: pointer;
  width: 25%;
  padding: 10px 20px;
}
.list-appliance:hover {
  background-color: #70daa8;
}

.list-ustenciles {
  background-color: #ed6454;
  width: 99%;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}

.list-ustencil {
  color: #FFFFFF;
  width: 25%;
  cursor: pointer;
  padding: 10px 20px;
}
.list-ustencil:hover {
  background-color: #ee6c5d;
}

.size-input {
  width: 742px;
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}/*# sourceMappingURL=style.css.map */