.header_index {
    @include flex(center, center);
    @include size-container(100%, auto);
    margin-bottom: 30px;
    img {
      width: 60%;
      transform: translateX(60px);
    }
}
  
.main_index {
    @include size-container(100%, auto);
}
  
.search-zone {
  @include size-container(100%, auto);
  position: relative;
  .item {
    @include size-container(100%, 60px);
    background-color: $bg-field;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    &::placeholder{
      padding-left: 20px
    }
  }
  button {
    position: absolute;
    top: 2px;
    right: 15px;
    border: none;
    background-color: $bg-field;
    padding: 15px 5px;
  }
}
  
.box {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
  
.style-input {
  position: relative;
}
  
.select {
  @include size-container(160px, 60px);
  font-size: 18px;
  font-weight: bold;
  color: $input-txt;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  &::placeholder {
    color: $input-txt;
    padding-left: 20px;
  }
  &--ingredient {
    background-color: $input_ingredient;
  }
  &--appareil {
    background-color: $input-appliance;
  }
  &--ustensile {
    background-color: $input-ustensils;
  }
}
  
.all_recipes {
  @include size-container(100%, auto);
  @include flex(space-between, center);
  flex-wrap: wrap;
}
  
.card_recipe {
  @include size-container(30%, 350px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 49% 15% 30% 6%;
  background-color: $bg-article;
  border-radius: 7px;
  margin: 20px 0;
  .picture_recipe {
    background-color: $bg-nopicture;
    grid-area: 1/1/2/3;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .head_card {
    grid-area: 2/1/3/3;
    @include flex(space-between, center);
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    h2{
      font-size: 18px;
      font-weight: normal;
    }
  }
  .description_recipe {
    grid-area: 3/1/4/3;
    @include size-container(100%, auto);
    @include flex(space-between, flex-start);
    overflow: hidden;
    .list_ingredients {
      width: 50%;
      line-height: 15px;
      > p {
        font-size: 14px;
        margin: 0;
        padding-left:15px;
        .weight{
          font-weight: 600;
        }
      }
    }
    .make_recipe {
      width: 50%;
      .instructions {
        margin: 0;
        padding: 0 15px;
        font-size: 13px;
        line-height: 15px;
        text-align: justify;
      }
    }
  }
}
  
.tag {
  display: inline-block;
  color: white;
  position: relative; 
  font-size: 20px;
  border-radius: 5px;
  padding: 20px 40px;
  margin-right: 15px;
}

.box-ingredient, .box-appliance, .box-ustencil{
  width: 750px;
  position: relative;
}
 
.list-food{
  background-color: $input_ingredient;
  width: 99%;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}
  
.list-ingredient{
  color: $input-txt;
  cursor: pointer;
  font-size: 18px;
  width: 25%;
  padding: 10px 20px;
  &:hover{
    background-color: lighten($color: $input_ingredient, $amount: 2%);
  }
}
  
.list-item{
  width: 99%;
  background-color: $input_appliance;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}
  
.list-appliance{
  color: $input-txt;
  cursor: pointer;
  width: 25%;
  padding: 10px 20px;
  &:hover{
    background-color: lighten($color: $input-appliance, $amount: 2%);
  }
}
  
.list-ustenciles{
  background-color: $input-ustensils;
  width: 99%;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}
  
.list-ustencil{
  color: $input-txt;
  width: 25%;
  cursor: pointer;
  padding: 10px 20px;
  &:hover{
    background-color: lighten($color: $input-ustensils, $amount: 2%);
  }
}

.size-input{
  width: 742px;
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}