.no-result {
    font-size: 28px;
    margin-top: 100px;
  }
  
  .blueTag {
    background-color: $input_ingredient;
  }
  
  .greenTag {
    background-color: $input-appliance;
  }
  
  .redTag {
    background-color: $input-ustensils;
  }
  
  
  
  .animLogo {
    animation: anim 0.1s forwards;
  }
  
  .strong{
    font-weight: bolder;
  }